# Session and authentication settings
SESSION_COOKIE_NAME=session_cookie
SESSION_COOKIE_PASSWORD=generate_a_secure_random_string_for_cookie_password

# MongoDB connection URL
MONGO_URL=your_mongodb_link

# For testing
SERVICE_URL=http://localhost:3000

# cloudinary.com for images store
CLOUDINARY_CLOUD_NAME=get_your_own_cloudinary_cloud_name
CLOUDINARY_API_KEY=get_your_own_cloudinary_api_key
CLOUDINARY_API_SECRET=get_your_own_cloudinary_api_secret

# JWT Tokens
JWT_SECRET=generate_a_secure_random_string_for_jwt_secret
JWT_REFRESH_SECRET=generate_a_secure_random_string_for_jwt_refresh_secret
JWT_ACCESS_COOKIE_NAME=access_token
JWT_REFRESH_COOKIE_NAME=refresh_token

# JWT token expiry settings
ACCESS_TOKEN_EXPIRY_SECONDS=60
REFRESH_TOKEN_EXPIRY_SECONDS=604800
LEEWAY_SECONDS_FOR_ACCESS_TOKEN=120

# Environment
NODE_ENV=development