<section class="page-hero">
  <div class="container">
    {{!-- <h1 class="page-hero__title">Account</h1> --}}
    <p class="page-hero__subtitle">Hi, {{viewData.username}} {{#if viewData.userIsAdmin}}<span class="tag is-primary is-light ml-2">Admin</span>{{/if}}</p>
  </div>
</section>
<div class="page-content">
  <div class="container">
    {{!-- {{> forms/add-api-form }} --}}
  </div>
</div>


{{!-- TODO: add ability to change password, delete account  --}}