{{> interface/left-pane }}
{{> interface/account-menu }}
  <section style="z-index: 0;">
    {{#if viewData.mapsApiKey }}
    {{> map/map }}
    {{else}}
      {{> warnings/api-key-warning }}
    {{/if}}
  </section>