<div class="page-content">
  <div class="container container--wide">
    <div class="notification is-warning is-light">
      <h2 class="title is-4 mb-3">{{viewData.title}}</h2>
      <p>{{viewData.message}}</p>
      <a class="button is-light mt-4" href="/">Go to home</a>
    </div>
  </div>
</div>
