<div style="text-align: center; margin-bottom: 2rem;">
  <div class="title is-2 p-5">Hi, userName</div>
  <p>Please add your MapTiles API key in account settings to use the feedback map.</p>
</div>
{{>forms/upload-image}}