{{!-- Maps disabled in frontend templates
https://docs.maptiler.com/sdk-js/examples/popup-on-click/
https://docs.maptiler.com/sdk-js/examples/popup-on-hover/
<script src="https://unpkg.com/deck.gl@9.2.5/dist.min.js"></script>
<script src="https://cdn.maptiler.com/maptiler-sdk-js/v3.10.2/maptiler-sdk.umd.min.js"></script>
<link href="https://cdn.maptiler.com/maptiler-sdk-js/v3.10.2/maptiler-sdk.css" rel="stylesheet" />
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/chroma-js/2.4.2/chroma.min.js"
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>

<div id="map"></div>

<script type="text/javascript">
  const mapId = "streets-v4";
  maptilersdk.config.apiKey = '{{viewData.mapsApiKey}}';


    const map = new maptilersdk.Map({
        container: 'map',
        style: maptilersdk.MapStyle.STREETS,
        center: [-7, 54],
        zoom: 6,
    });

const contextPopup = new maptilersdk.Popup();
map.on('contextmenu', (e) => {
  console.log(e);
  

  contextPopup.setLngLat(e.lngLat)
                .setHTML(`{{> forms/add-point-form }}`)
                .addTo(map);
        });

  
    const points = {{{viewData.pointsJson}}};
    let counter = 0;
    for (const point of points) {
        const coordinates = [point.pos["lon"], point.pos["lat"]]
    const popup = new maptilersdk.Popup({ offset: 25 }).setHTML(
        `<strong class="is-size-5"><a href="/point?id=${point._id.toString()}">${point.data.name}</a></strong><p>${point.data.description}</p>`
    );


    const el = document.createElement('div');
    el.id = 'marker' + counter;
    el.classList.add('marker');
    new maptilersdk.Marker({element: el})
        .setLngLat(coordinates)
        .setPopup(popup)
        .addTo(map);
    counter++;
    }
</script>
--}}
