{{!-- Maps disabled in frontend templates
<div class="is-flex is-flex-direction-column is-justify-content-center is-align-items-center" style="height: 40vh;" role="alert" id="warningApi">
    <h4 class="alert-heading">Map API key missing</h4>
    <p class="p-2">Add your <code>MapTiles API key</code> in account settings to pin purchase locations and view your feedback on the map.</p>
    <a href="/account" class="button is-primary">Go to account settings</a>
</div>
--}}
