{{!-- Maps disabled in frontend templates
<div class="pt-5 pb-5" style="max-width: 600px;">
  <form
    class="container pt-5 pb-5"
    style="max-width: 600px;"
    method="POST"
    action="/addApiToAccount"
  >
  <p>Current MapTiles API Key: <span id="map-api-key" class="is-hidden">{{ viewData.mapsApiKey }}</span> <a id="show-api-button" onclick="revealApi()" class="has-text-primary">Show API Key</a></p>
    <div>
      <div class="field">
        <input
          class="input"
          type="text"
          placeholder="Add your MapTiles API key to use the feedback map"
          name="MAP_API_KEY"
        />
      </div>
<div class="is-flex is-flex-direction-row is-justify-content-space-between is-align-items-center">
<div>

      <button type="submit" class="button is-primary">Submit</button>
  <a
    class="button is-light is-primary"
    href="https://cloud.maptiler.com/account/keys/"
    target="_blank"
    rel="noopener noreferrer"
  >Get your MapTiles key here</a>
</div>
      {{#if viewData.infoMessage}}
      <p class="help {{ viewData.infoClass }}">{{ viewData.infoMessage }}</p>
      {{else}}
    <p class="help">*your API Key will be stored in your account</p>
      {{/if}}
</div>
    </div>
  </form>


</div>

<script type="text/javascript">
  function revealApi() {
    document.getElementById("map-api-key").classList.remove("is-hidden");
    document.getElementById("show-api-button").classList.add("is-hidden");
  }
</script>
--}}
