<form
  class="box"
  style="max-width: 600px;"
  method="POST"
  action="/account/change-password"
  autocomplete="off"
>
  <h2 class="title is-5 mb-4">Change password</h2>

  {{#if viewData.passwordMessage}}
    <p class="help {{viewData.passwordClass}} mb-4">{{viewData.passwordMessage}}</p>
  {{/if}}

  <div class="field">
    <label class="label" for="current-password">Current password</label>
    <div class="control">
      <input
        id="current-password"
        class="input"
        type="password"
        name="currentPassword"
        placeholder="Enter your current password"
        required
        minlength="6"
        maxlength="30"
      />
    </div>
  </div>

  <div class="field">
    <label class="label" for="new-password">New password</label>
    <div class="control">
      <input
        id="new-password"
        class="input"
        type="password"
        name="password"
        placeholder="Enter your new password"
        required
        minlength="6"
        maxlength="30"
      />
    </div>
  </div>

  <div class="field">
    <label class="label" for="new-password-repeat">Repeat new password</label>
    <div class="control">
      <input
        id="new-password-repeat"
        class="input"
        type="password"
        name="passwordRepeat"
        placeholder="Repeat your new password"
        required
        minlength="6"
        maxlength="30"
      />
    </div>
  </div>

  <div class="field">
    <div class="control">
      <button type="submit" class="button is-primary">Update password</button>
    </div>
  </div>
</form>
