// copied from the lab and modified for my project

<div class="card">
  <div class="card-image">
    {{> forms/cover-image-preview }}
  </div>
  <div class="card-content">
    {{> forms/upload-image-form }}
  </div>
</div>
