{{#if viewData.uploadFeedback}}
  <p class="{{viewData.uploadFeedback.class}} mb-3">{{viewData.uploadFeedback.text}}</p>
{{/if}}
{{#if viewData.pointData}}
  {{> forms/upload-image-field
    inputId="point-upload-imagefile"
    layout="inline"
    uploadEndpoint="/point/uploadImage"
    uploadEntityId=viewData.pointData._id
    buttonClass="button is-info"
  }}
{{else if viewData.item}}
  {{> forms/upload-image-field
    inputId="item-upload-imagefile"
    layout="inline"
    uploadEndpoint="/items/uploadImage"
    uploadEntityId=viewData.item._id
    buttonClass="button is-info"
  }}
{{/if}}
