<article
  class="item-tile item-tile--add"
  id="add-item-tile"
  role="button"
  tabindex="0"
  title="Add an item"
  aria-label="Add an item"
>
  <div class="item-tile__add-content">
    <span class="item-tile__add-icon" aria-hidden="true">+</span>
    <span class="item-tile__add-label">Add item</span>
  </div>
</article>
