<article
  class="collection-tile collection-tile--add"
  id="add-collection-tile"
  role="button"
  tabindex="0"
  title="Add a collection"
  aria-label="Add a collection"
>
  <div class="collection-tile__add-content">
    <span class="collection-tile__add-icon" aria-hidden="true">+</span>
    <span class="collection-tile__add-label">Add collection</span>
  </div>
</article>
