<h2 class="title is-5 mb-4">Your collections</h2>
<div class="collections-grid">
  {{> lists/add-collection-tile }}
  {{#each viewData.collections}}
    {{> lists/collection-tile }}
  {{/each}}
</div>
{{#unless viewData.collections.length}}
  <p class="help has-text-grey mt-3 mb-0">Click the first tile to create your first collection.</p>
{{/unless}}
